@font-face {
  font-family: "Benton Sans";
  src: url("./BentonSans/benton-sans-medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Benton Sans";
  src: url("./BentonSans/benton-sans-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
